{% load i18n %}

{% trans "cat_tourism" %}

{% trans "cat_sleep" %}
{% trans "cat_hotel" %}
{% trans "cat_agroturismo" %}
{% trans "cat_apartamento" %}
{% trans "cat_camping" %}
{% trans "cat_casa-particular" %}
{% trans "cat_casa-rural" %}
{% trans "cat_hotel-apartamento" %}
{% trans "cat_pension" %}

{% trans "cat_eat" %}
{% trans "cat_restaurant" %}
{% trans "cat_sidreria" %}
{% trans "cat_asador" %}

{% trans "cat_transportation" %}
{% trans "cat_bus" %}
{% trans "cat_train" %}
{% trans "cat_tram" %}
{% trans "cat_metro" %}

{% trans "cat_culture" %}
{% trans "cat_library" %}
{% trans "cat_museum" %}

{% trans "access_a" %}
{% trans "access_p" %}
{% trans "access_n" %}
{% trans "access_s" %}

{% trans "acceso_bbdd" %}
{% trans "prestamo" %}
{% trans "hemeroteca" %}
{% trans "consulta" %}
{% trans "wifi" %}
{% trans "reprografia" %}
{% trans "infor_bibliografica" %}
{% trans "prestamo_domic" %}
{% trans "internet_usuarios" %}
{% trans "prestamo_inter" %}
{% trans "bol_novedades" %}
{% trans "selectiva" %} 

{% trans "general" %}

{% trans "ayto" %}
{% trans "auto" %}
{% trans "priv" %}

{% trans "l" %}
{% trans "r" %}

{% trans "p" %}

{% trans "filter" %}
{% trans "search" %}


{% trans "ejgv_biblio" %}
{% trans "ejgv-tur-rest" %}
{% trans "ejgv-tur-aloj" %}
{% trans "ejgv-tur-infos" %}
{% trans "Consultrans" %}

